body {
	padding: 40px;
}

.title {
	display: flex;
	align-content: center;
	padding-bottom: 30px;
}
.image-logo {
	width: 120px;
	height: 120px;
	margin: 5px 20px 0 0;
}
h1 {
	font: lighter 60px 'Roboto', arial, sans-serif;
	margin: 35px auto auto 30px;
	color: rgba(11, 17, 17, 0.902);
	position: center;
	flex: 11;
}
.line {
	justify-content: center;
	border: 0;
	height: 12px;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.box {
	display: flex;
	margin: 50px auto 45px auto;
	flex-direction: row;
	justify-content: space-around;
}
.a {
	margin: auto;
	font: lighter 17px 'Roboto', arial, sans-serif;
	color: rgb(119, 117, 117);
}

.responsive {
	flex-direction: column;
	background-size: 500px;
	width: 100%;
}
div.gallery {
	background: url(images/dog.jpg) no-repeat;
	background-size: cover;
	background-position: 100% 30%;
	height: 500px;
}
div.top-news {
	padding: 0 20px 0 20px;
	border: solid rgb(216, 216, 216);
	border-width: 1px 1px 0.5px 1px;
	width: auto;
	height: 150px;
}

.top-news .top-news-head {
	padding: 10px;
	text-align: left;
	font: bolder 25px 'Roboto', arial, sans-serif;
	color: rgb(158, 157, 157);
	height: 20px;
}
.top-news .top-news-content {
	text-align: left;
	font: lighter 18px 'Roboto', arial, sans-serif;
	color: rgb(168, 166, 166);
	height: 20px;
	padding-left: 10px;
}
.responsive .container-2 {
	display: none;
}
.news-bar {
	display: flex;
	padding: 40px 0 5px 0;
}
.news-top {
	font: lighter 25px 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.5);
	flex: 1;
	padding-left: 10px;
}
.more {
	text-align: right;
	font: lighter 25px 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.5);
	flex: 1;
	padding-right: 30px;
}
.divider {
	color: rgba(189, 186, 186, 0.712);
	margin: 5px 10px 5px 10px;
}
.bullet {
	color: rgba(0, 0, 0, 0.7);
	padding: 17px 10px 17px 10px;
	font: normal 15px 'Roboto', arial, sans-serif;
	letter-spacing: 1px;
}
table {
	width: 100%;
	padding: 40px 10px 20px 20px;
	height: 28em;
    border-collapse: collapse;
}
.table-1 td,
.table-1 th {
	margin: auto;
}
td:nth-child(2),
td:nth-child(5) {
	text-align: center;
}
td:nth-child(3){
    text-align: right;
    padding-right: 35px;
}
td:nth-child(4){
    text-align: left;
    padding-left: 35px;
}

.table-head-row {
	padding-top: 20px;
	padding-bottom: 30px;
	font: lighter 25px 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
table td {
	flex: 1;
	font: lighter 20px 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.8);
	margin: 50px;
	text-align: center;
}
.table-1 .b {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
}
.table-1 .col-1 {
    text-align: left;
    padding-left: 10px;
}
.container-2 {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.place {
	padding-top: 50px;
	font: lighter 40px 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.6);
}
.sunny {
	margin: 0;
	font: lighter 30px 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.8);
}
.weather-1 {
	display: flex;
	margin: 1em;
}
div .widget-1 {
	width: 20%;
	height: 80%;
}
div .temp {
	font: lighter 4.5em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.75);
	margin-top: 50px;
	margin-left: 10px;
}
div .centrigate {
	color: rgba(0, 0, 0, 0.75);
	font: lighter 3.2em 'Roboto', arial, sans-serif;
	margin-top: 1.4em;
}
.days {
	display: flex;
	justify-content: space-around;
}
.days-child {
	width: 100%;
	height: auto;
	flex-direction: column;
}
.days .b {
	font: lighter 1.4em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.70);
	text-align: center;
}
.days-child .i {
	width: auto;
	height: auto;
	margin-bottom: 10px;
}
.days-child .i img {
	width: 70%;
	height: auto;
	justify-self: center;
	padding-left: 55px;
}
.latest-news {
	margin-top: 35px;
	justify-content: space-around;
	padding-left: 10px;
}
.latest-news .c {
	margin-bottom: 30px;
}
.c img {
	width: 100px;
	float: left;
	padding: 8px 8px 2px 0;
	height: 70px;
}
.c .news-text {
	padding-top: 8px;
}
.c .head {
	font: bold 0.9em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.65);
	padding-bottom: 7.5px;
}
.c .head-content {
	padding-top: 4px;
	font: normal 0.8em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.8);
}
footer {
	padding-top: 60px;
}
.foot {
	display: flex;
}
footer hr {
	color: rgba(0, 0, 0, 0.4);
}
.foot .a {
	width: 10%;
	font: normal 0.8em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.8);
	padding-left: 30px;
}
.foot .b {
	width: 15%;
	font: normal 0.8em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.8);
}
.foot .c {
	width: 70%;
	font: normal 0.8em 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, 0.8);
	padding-left: 10px;
}
footer .line {
	justify-content: center;
	border: 0;
	height: 12px;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
@media (min-width: 600px) and (max-width: 800px) {
	body {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		align-items: center;
		width: 100%;
	}

	.table-1 th {
		background-color: #748e9b;
		color: white;
		font-size: 17px;
		font-weight: lighter;
		letter-spacing: 0;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.table-1 tr:nth-child(odd) {
		background-color: #eaeef0;
	}
	.table-1 td {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1em;
	}
	table {
		margin-top: 30px;
		height: 18em;
	}
	.table-1 .col-1 {
		padding-left: 10px;
	}
	.image-logo {
		width: 100px;
		height: 100px;
		margin: 5px 20px 0 0;
	}
	.title {
		padding-bottom: 20px;
	}
	.box {
		margin: 25px auto 35px auto;
	}
	.responsive {
		display: flex;
		height: auto;
		padding-bottom: 0;
        flex-direction: row;
        position: relative;
	}
	.container-1 {
		height: 300px;
		width: 60%;
	}
	.responsive .container-2 {
		display: block;
        width: 40%;
	}
	.responsive .days-child {
        height: 20%;
        width: 20%;
	}
	.responsive .container-2 .widget-1 {
		width: 7.0em;
		height: 5.0em;
	}
	.responsive .container-2 .temp {
		font-size: 30px;
	}
	.responsive .container-2 .centrigate {
		font-size: 25px;
		margin-top: 25px;
    }       
	.responsive .container-2 .b {
		font: lighter 0.8em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.70);
		text-align: center;
	}
	.responsive .container-2 .i {
		width: 3.5em;
		height: 3.5em;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.responsive div.temp {
		font: lighter 3.0em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.75);
		margin-top: 20px;
		margin-left: 10px;
	}
	.responsive div .centrigate {
		color: rgba(0, 0, 0, 0.75);
		font: lighter 2.2em 'Roboto', arial, sans-serif;
		margin-top: 1.45em;
	}
	.responsive .place {
		font: lighter 20px 'Roboto', arial, sans-serif;
		padding-top: 10px;
	}
	.responsive .sunny {
		font: lighter 15px 'Roboto', arial, sans-serif;
	}
	.responsive .weather-1 {
		margin-top: 0;
	}
	.responsive img.widget-1 {
		width: 9em;
		height: 6em;
	}
	.container-2 {
		display: none;
	}
	div.gallery {
		position: relative;
		height: 100%;
		width: 100%;
	}
	div.top-news {
		width: 60%;
		height: 110px;
		position: absolute;
		padding: 0;
		background-color: rgba(19, 17, 17, 0.7);
        border: none;
        bottom: 0;
	}
	.top-news .top-news-head {
		font: bolder 20px 'Roboto', arial, sans-serif;
		color: rgb(255, 255, 255);
		padding-top: 0;
		padding-bottom: 0;
	}
	.top-news .top-news-content {
		font: bold 13px 'Roboto', arial, sans-serif;
		color: rgb(255, 255, 255);
		padding-top: 0;
	}
	.news-bar {
		padding-top: 10px;
	}
	.c .head {
		font: bold 1em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.65);
		padding-bottom: 7px;
		text-decoration: underline;
	}
	.c .head-content {
		padding-top: 2px;
		font: normal 0.8em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.8);
	}
}

@media (max-width: 599px) {
	body {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		width: 100%;
	}
	.table-1 th {
		background-color: #748e9b;
		color: white;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0;
		padding: 0;
	}
	.table-1 tr:nth-child(odd) {
		background-color: #eaeef0;
	}
	.table-1 td {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 0.7em;
	}
	table {
		margin-top: 30px;
		height: 14em;
		border-collapse: collapse;
	}
	.table-1 .col-1 {
		padding-left: 10px;
	}
	.image-logo {
		width: 50px;
		height: 48px;
		margin: 0;
	}
	.title {
		padding-bottom: 5px;
	}
	h1 {
		font-size: 22px;
		margin-left: 5px;
		margin-top: 15px;
	}
	.line {
		display: none;
	}
	.box {
		display: none;
	}
	.responsive {
		display: flex;
		height: 260px;
	}
	.container-1 {
		position: relative;
		height: 300px;
	}
	div.gallery {
		position: relative;
		height: 90%;
		width: 100%;
	}
	div.top-news {
		width: 100%;
		height: 75px;
		position: absolute;
		top: 62.5%;
		z-index: 2;
		padding: 0;
		background-color: rgba(19, 17, 17, 0.7);
		border: none;
	}
	.top-news .top-news-head {
		font: bolder 15px 'Roboto', arial, sans-serif;
		color: rgb(255, 255, 255);
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 5px;
	}
	.top-news .top-news-content {
		font: bold 8.5px 'Roboto', arial, sans-serif;
		color: rgb(255, 255, 255);
		padding-top: 0;
		margin-top: px;
	}
	.container-2 {
		margin-bottom: 20px;
	}
	div .temp {
		font: lighter 3.5em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.75);
		margin-top: 30px;
		margin-left: 10px;
	}
	div .centrigate {
		color: rgba(0, 0, 0, 0.75);
		font: lighter 2.2em 'Roboto', arial, sans-serif;
		margin-top: 1.45em;
		font-size: 20px;
		font-weight: bold;
	}
	.place {
		font: lighter 20px 'Roboto', arial, sans-serif;
		padding-top: 10px;
	}
	.sunny {
		font: lighter 15px 'Roboto', arial, sans-serif;
	}
	.weather-1 {
		margin-top: 0;
	}
	img.widget-1 {
		width: 9em;
		height: 6em;
	}
	div.temp {
		margin-top: 20px;
		font-size: 30px;
	}
	div.days-child {
		height: auto;
	}
	.days .b {
		font-size: 12px;
	}
	div .i {
		width: 65px;
		height: 65px;
		margin-bottom: 0;
	}
	.days-child .i img {
		padding-left: 10px;
	}

	.news-bar {
		padding-top: 0px;
	}
	.news-bar .news-top {
		font-size: 15px;
	}
	.news-bar .more {
		font-size: 15px;
	}
	div.bullet {
		font-size: 8px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.c .head {
		font: bold 0.8em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.65);
		padding-bottom: 7px;
	}
	.c .head-content {
		padding-top: 2px;
		font: normal 0.8em 'Roboto', arial, sans-serif;
		color: rgba(0, 0, 0, 0.8);
	}
	.foot .a {
		font-size: 8px;
		width: 15%;
	}
	.foot .b {
		font-size: 8px;
		width: 30%;
	}
	.foot .c {
		font-size: 8px;
	}
}
